<html>
    <head>
        <title>Django Girls blog, Hajnal</title>
    </head>
    <body>
        <div>
            <h1><a href="https://djangogirls.org/budapest/">Thanks, Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 27.11.2017, 9:44</p>
            <h2><a href="http://hajnalhorak.pythonanywhere.com/">My first post</a></h2>
            <p>Probálkozás</p>
        </div>

        <div>
            <p>published: 27.11.2017, 9:44</p>
            <h2><a href="http://hajnalhorak.pythonanywhere.com/">My second post</a></h2>
            <p>Probálkozásgatás</p>
        </div>
    </body>
</html>
